.body__songs {
  margin: 20px -30px;
}

.body__icons {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-left: 30px;
}

.body__icons > .MuiSvgIcon-root {
  margin-right: 20px;
}

.body__icons > .MuiSvgIcon-root:hover {
  transition: 100ms transform ease-in;
  transform: scale(1.08);
}

.body__shuffle {
  font-size: 80px !important;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.body__shuffle:hover {
  transition: 100ms transform ease-in;
  transform: scale(1.08);
}